<!-- CARGA LOS BLOQUES DEL ARCHIVO BASE -->
{% extends 'app_proyecto/gerente/base.html' %}

<!-- SOBRESCRIBE LA ETIQUETA TITULO -->
{% block titulo %}Todos los examenes{% endblock %} 

<!-- SOBRESCRIBE EL NOMBRE DEL TITULO DEL BODY -->
{% block titulo_navbar %}Todos los examenes {% endblock %}

<!-- CONTENIDO DEL USUARIO VERSION MOVIL -->
{% block contenido %}
 <div class="container" style="width: 70%; height: 400px;">
 	<div class="input-field col s12">
			           <i class="fas fa-filter prefix"></i>
			          <input id="icon_prefix" type="text" class="validate search" name="search" required="true" autocomplete="off">
			          <label for="icon_prefix">Obtener todos los que hicieron examen de: </label>
			        </div>
	<table class="bordered centered striped" id ="tabla">
		<thead>
			<tr>
				<th>Número de examen</th>
				<th>Curp</th>
				<th>Aplicó a</th>
				<th>Puntaje Obtenido</th>
				<th>Fecha de elaboración</th>
				<th>Dictamen</th>
			</tr>
		</thead>
		<tbody>
			{% for value in object_list %}
				<tr>
					<td>{{ value.Num_Examen.Num_Examen }}</td>
					<td>{{ value.Num_Examen.Curp }}</td>
					<td>{{ value.Num_Examen.Id_Examen }}</td>
				    <td>{{ value.Puntaje }}</td>
				    <td>{{value.Num_Examen.Fecha_Elaborado}}</td>
				    <td>{{ value.Dictamen }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script>
	

</script>
{% endblock %} 

