<!-- CARGA LOS BLOQUES DEL ARCHIVO BASE -->
{% extends 'app_proyecto/gerente/base.html' %}

<!-- SOBRESCRIBE LA ETIQUETA TITULO -->
{% block titulo %}Cantidad de empleados por área{% endblock %} 

<!-- SOBRESCRIBE EL NOMBRE DEL TITULO DEL BODY -->
{% block titulo_navbar %}Cantidad de empleados por área{% endblock %}

<!-- CONTENIDO DEL USUARIO VERSION MOVIL -->
{% block contenido %}
 <div class="container" style="width: 70%; height: 400px;">
 	<div class="input-field col s12">
			          <i class="fas fa-filter prefix"></i>
			          <input id="icon_prefix" type="text" class="validate search" name="search" required="true" autocomplete="off">
			          <label for="icon_prefix">Introduzca su filtro </label>
			        </div>
	<table class="bordered centered striped" id ="tabla">
		<thead>
			<tr>
				<th>Puesto</th>
				<th>Cantidad de miembros</th>
			</tr>
		</thead>
		<tbody>
			{% for value in object_list %}
				<tr>
					<td>{{ value.Id_Puesto }}</td>
					<td>{{ value.cantidad }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<div class="right">
		<form action="../gr_cantidad_empleado_area">
			<button class="btn waves-effect teal darken-4">IMPRIMIR
		  	<i class="fas fa-print left"></i>
		  	</button>
		</form>
	</div>
</div>
{% endblock %} 

